{% extends "basic/base.html" %}
{% load staticfiles %}

{% block content %}
    <section class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Login or register</li>
              </ul>
            </nav>
            <h1 class="heading">Log in or Sign up</h1>
            <p class="lead text-center">This is the lead paragraph of the article. Pellentesque habitant morbi tristique.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="box">
              <h3 class="heading">New account</h3>
              <p class="lead">Not our registered customer yet?</p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
              <hr>
              <form method="post" action="/register">
              {% csrf_token %}
                <div class="form-group">
                  <label for="name">Firest Name</label>
                  <input id="name" type="text" class="form-control" name="first_name">
                </div>
                {% if messages %} 
                                {%for message in messages %} 
                                {%if "first_name" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                <div class="form-group">
                  <label for="name">Last Name</label>
                  <input id="name" type="text" class="form-control" name="last_name">
                </div>
                 {% if messages %} 
                                {%for message in messages %} 
                                {%if "last_name" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                 {%endif%} {%endfor%} {% endif %}

                <div class="form-group">
                  <label for="email1">Email</label>
                  <input name="email" id="email1" type="text" class="form-control">
                </div>
                 {% if messages %} 
                                {%for message in messages %} 
                                {%if "email" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                 {%endif%} {%endfor%} {% endif %}
                <div class="form-group">
                  <label for="password">Password</label>
                  <input  name="password" id="password" type="password" class="form-control">
                </div>
                 {% if messages %} 
                                {%for message in messages %} 
                                {%if "password" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                {%endif%} {%endfor%} {% endif %}
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input  name="confirm_password"  id="password" type="password" class="form-control">
                </div>
                 {% if messages %} 
                                {%for message in messages %} 
                                {%if "confirm_password" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                {%endif%} {%endfor%} {% endif %}

                <div class="text-center">
                  <button value="Create Account" type="submit" class="btn btn-outline-white-primary"><i class="fa fa-user-md"></i> Register</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <h3 class="heading">Login</h3>
              <p class="lead">Already our customer?</p>
              <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <hr>

              <form method="post" action="/login"> {% csrf_token %}
                <div class="form-group">
                  <label for="email">Email</label>
                  <input  id="email" type="text" class="form-control">
                </div>
              </form>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Log in</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}