<h1>Search Page</h1>

<br/>
<form action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
<input type="submit" name="submit" value="Search"/>
</form>

 <form method="GET" action="{% url 'searchposts' %}" value="{{request.GET.q}}">
                <div class="controls">
                  <div class="row align-items-center">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="profession">Profession</label>
                        <input name="q" value="{{request.GET.q}}" type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Any particular location?" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" name="submit">Search</button>
                    </div>
                  </div>
                </div> </form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

{{result.title}}
<br/>

{{result.description}}
<br/>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}
